<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wandingkeji.yueke.member.mapper.MemberMapper">


	<!-- 根据ID查询open名字 -->
	<select id="selectMemberById" resultType="cn.wandingkeji.yueke.member.model.Member" parameterType="java.lang.Integer">
	
		select 
			id,phone,name,openid,sex,year,month,day
		from wd_member
		where id=#{id}
	
	</select>

	<!-- 根据ID查询open名字 -->
	<select id="selectMemberByCustomerId"  resultType="cn.wandingkeji.yueke.member.model.MemberMesTemplate" parameterType="java.lang.String">

		SELECT
			wd_member_face.member_id memberId,
			wd_mem_balance.account_name memberName,
			wd_face_info.open_id openId,
			wd_mem_balance.actual_balance balance,
			wd_mem_balance.pay_store_id storeIdLatest,
			store.store_name storeNameLatest,
			wd_mem_balance.pay_time_latest payTimeLatest,
			wd_mem_balance.`level` levelId ,
			wd_card_level.level_name levelName
		FROM
			wd_member_face,
			wd_face_info,
			wd_mem_balance
			LEFT JOIN wd_card_level ON wd_mem_balance.`level` = wd_card_level.id
			LEFT JOIN store ON wd_mem_balance.pay_store_id = store.id
		WHERE
			wd_face_info.id = wd_member_face.face_id
			AND wd_member_face.member_id = wd_mem_balance.member_id
			AND wd_face_info.customer_id= #{customerId};

	</select>



	
</mapper>